{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}

<h1>HOME PAGE</h1>
    <main id="home-blog">
        <section class="blog-post">
            <h2>Post Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt nunc eu purus.</p>
            <a href="#" class="read-more">Read More</a>
        </section>
        <section class="blog-post">
            <h2>Another Insight</h2>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
            <a href="#" class="read-more">Read More</a>
        </section>
    </main>
{% endblock content %}
