{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    <h1>POSTS</h1>

    {% for post in posts %}
    <section class='post'>
        <ul>
            <li>
                <a href="{% url "posts:post" slug=post.slug %}">
                    <h2>{{post.title}}</h2>
                </a>
                <p>{{post.body}}</p>
                <p>{{post.date}}</p>
            </li>    
        </ul>
    </section>
    {% endfor %}
{% endblock content %}

